body {
  background-color: white;
  margin: 0px;
}

html {
  font-family: "Quicksand", sans-serif;
}

/* Header */

header {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 4fr 4fr;
  background-color: #251150;
  color: white;
  position: static;
}

.menu,
menu-header,
.menu-inicial {
  display: flex;
  align-items: center;
  align-content: center;
}

.menu p {
  margin: 0px;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  margin-left: 10%;
}

.diferent {
  color: white;
}

.menu-inicial {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.inicial-item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fa9a45;
}

.inicial-item:hover {
  color: white;
}

.service-enviar {
  display: flex-inline;
  border: 30px solid block;
  background-color: black;
  color: white;
}

.service-enviar:hover {
  color: rgb(157, 255, 0);
}

/* Main */

.service {
  margin: 0px;
  background-image: url(../img/study-image.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: #da5c14b9;
  background-blend-mode: multiply;
}

.main {
  text-align: center;
  padding: 40px;
}

.service-main {
  color: white;
  text-shadow: 2px 2px black;
  animation-duration: 3s;
  animation-name: slidein;
}

.details {
  color: rgb(157, 255, 0);
}

strong {
  font-size: 30px;
}

.grow {
  padding: 7px;
  display: flex-inline;
  border: 30px solid block;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
}

.grow:hover {
  color: rgb(157, 255, 0);
}

.aside {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  color: white;
}

.aside-first {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #051d5f;
}

.aside-second {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a00332;
}

.aside-third {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a6454;
}

.aside-item {
  text-decoration: none;
  color: white;
}

.copyright {
  display: flex;
  background-color: white;
  color: black;
}

/*Footer*/

footer {
  display: grid;
  background-color: white;
  grid-template-columns: 4fr 4fr 4fr;
}

.top {
  display: flex;
  position: static;
  width: 50px;
  height: 50px;
  background: #ffb424;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  justify-content: space-around;
}

.top:hover {
  background-color: rgb(141, 99, 7);
}

.copy {
  display: flex;
  width: 200%;
  font-size: 15px;
  justify-content: space-around;
  align-items: center;
}

.social {
  display: flex;
  color: #251150;
  justify-content: space-around;
  font-size: 40px;
  width: 100%;
}

/*Roteiro*/

.main-roteiro {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.main-roteiro h1 {
  color: rgb(63, 5, 63);
  font-size: 30px;
}

.main-roteiro li {
  color: rgb(63, 5, 63);
}

.main-roteiro li:hover {
  color: #fa9a45;
}

.main-roteiro a {
  text-decoration: none;
}

/*Fundamentos*/

details {
  font: 16px "Open Sans", Calibri, sans-serif;
  width: 70%;
  align-items: center;
  text-align: center;
}

details > summary {
  justify-content: space-around;
  border: none;
  cursor: pointer;
  list-style: none;
  padding: 10px;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > p {
  border-radius: 0 0 10px 10px;
  padding: 2px 6px;
  margin: 0;
}

.APE {
  background: #e76f5177;
}

.APE summary {
  background: #e76f51;
}

.FC {
  background: #f4a36171;
}

.FC summary {
  background: #f4a261;
}

.SO {
  background: #e9c56a7c;
}

.SO summary {
  background: #e9c46a;
}

.FR {
  background: #2a9d907c;
}

.FR summary {
  background: #2a9d8f;
}

.LM {
  background: #26465379;
}

.LM summary {
  background: #264653;
}

/*Desenvolvimento*/

.main-desenvolvimento {
  color: rgb(63, 5, 63);
  width: 70%;
  margin: 2%;
}

.main-desenvolvimento h1,
h2,
h3,
p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-desenvolvimento iframe {
  width: 100%;
}

/*Cadastro*/

.cadastro {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.cadastro-first {
  display: flex;
  justify-content: center;
}

/*Login*/

.login {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.login-first {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fa9a45;
}

/*Responsive*/

@media all and (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-inicial {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
  }

  .menu-header img {
    max-width: 100%;
    height: auto !important;
  }

  .service {
    display: block;
  }

  .aside {
    display: block;
    width: 100%;
  }

  .service {
    background-position: 50% -50px;
  }
}

@media all and (max-width: 350px) {
  .menu-header {
    margin-left: 0%;
  }
}

/*Animação Index*/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
